header
  nav 
    .container 
      .navbar 
        .logo
          a(href="#")  
            .logo__items
              img.logo__items-img(src="./img/Logo.svg", alt="alt")
              .logo__items-title Global
        ul.menu 
          li.menu__item
            a.menu__item-link(href="#") Mobile Top Up 
          li.menu__item
            a.menu__item-link(href="#") About 
          li.menu__item
            a.menu__item-link(href="#") Rate
          li.menu__item
            a.menu__item-link(href="#") Help
          li.menu__item 
            a.menu__item-btn.btn(href="#") Sign Up
        button.burger(aria-label="Открыть меню" aria-expanded="false") 
          span.burger__line