@font-face {
  font-family: 'Poppins-Regular';
  src: url('../fonts/Poppins/Poppins-Regular.woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../fonts/Poppins/Poppins-Bold.woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../fonts/Poppins/Poppins-Medium.woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../fonts/Roboto/Roboto-Regular.woff2');
  font-style: normal;
  font-weight: normal;
}

@import url("../fonts/FontAwesome6/fontawesome.scss");
@import url("../fonts/FontAwesome6/brands.scss");
@import url("../fonts/FontAwesome6/solid.scss");